<footer class="footer-container">
  <div class="footer-links">
    <a href="#">Contact Support</a>
    <a href="#">Terms and Conditions</a>
    <a href="#">Privacy Policy</a>
    <a href="#">Cookie Policy</a>
  </div>
  <div class="footer-lang">
    <ion-icon name="globe-outline"></ion-icon>
    <mat-form-field appearance="outline" class="footer-select-mat">
      <mat-select [(value)]="selectedLang">
        <mat-option value="en">English</mat-option>
        <mat-option value="es">Spanish</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</footer>
