<ion-card id="coupon-card">
  <img [src]="logo" [alt]="brand" />
  <div class="chip-container">
    <ion-chip>
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>Instant Coupon</ion-label>
    </ion-chip>
  </div>

  <ion-card-content>
    <ion-card-header>
      <ion-card-subtitle>{{ subtitle }}</ion-card-subtitle>
      <ion-card-title>{{ title }}</ion-card-title>
      <div class="coupon-action">
        {{ action }} <ion-icon name="arrow-forward-outline"></ion-icon>
      </div>
    </ion-card-header>
  </ion-card-content>
</ion-card>
