:host {
  .table-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    h2 {
      span {
        font-weight: 600;
        color: var(--ion-color-primary);
      }
    }
  }
  .table-features {
    margin: 2rem 0;
    th {
      text-align: center;
    }
  }

  .icon-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    ion-icon {
      font-size: 1.5rem;
      color: var(--ion-color-primary);
    }
  }
}
