<div class="table-header">
  <h2>
    Link your bussiness card <br />
    to <span>unlock cashback</span> offers
  </h2>
  <table
    mat-table
    [dataSource]="dataSource"
    class="table-features mat-elevation-z8"
  >
    <ng-container matColumnDef="feature">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">{{ element.feature }}</td>
    </ng-container>

    <ng-container matColumnDef="noCardRequired">
      <th mat-header-cell *matHeaderCellDef>No card linking required</th>
      <td mat-cell *matCellDef="let element">
        @if (element.noCardRequired) {
        <ion-icon name="checkmark-circle-outline"></ion-icon>
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="cardLinked">
      <th mat-header-cell *matHeaderCellDef>Link your card to get</th>
      <td mat-cell *matCellDef="let element">
        @if (element.cardLinked) {
        <ion-icon name="checkmark-circle-outline"></ion-icon>
        }
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
